.sidebar {
    padding-top: 23px;
    height: 100%;
    &__item {
        font-weight: 900;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        margin-bottom: 48px;
        &-mail{
            cursor: pointer;
            & span{
                display: none;
            }
        } 
        
    }

    &__text,
    &__year {
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        opacity: 0.5;
        max-width: 192px;
    }
    &__text{
       margin-bottom: 48px;
    }
    &__year{
        margin-top: 10%;
    }
}
