@import '_vars';
@import '_reset';
@import '_mixing';
@import '_header';
@import '_sidebar';
@import '_content';

body{
    font-family: 'Lato', sans-serif;
    background: #101010;
    height: 100vh;
    color: $white;
}

.container{
    max-width: 1795px;
    padding: 0 10px;
    margin: 0 auto;
}

.wrapper{
    display: flex;
    justify-content: space-between;
}

.design__line{
    position: relative;
    &::before,
    &::after,
    & span{
        position: absolute;
        content: '';
        width: 2px;
        height: 100vh;
        background-color: #191B1A;
       top: 0;
    }
    &::before{
        left: 47.1%;
    }
    &::after{
        right: 22.8%;
    }
    & span{
        left: 15%;
    }
}